<div class="container-2">
    <div class="row">
        <h2>RECORDS OF HOW MANY TIMES A PERSON HAS BEEN GREETED</h2>
        <p1 class="para">hi {{name}}, you have been greeted  {{num.counter}} time(s) </p1>
    </div>
        <a href="/"> <button class="back">Home</button> </a> 

            <a href="/greeted"> <button class="back">Back</button> </a>
</div>