<div class="container-2">
    <div class="row">
        <h1>NAMES GREETED</h1>
        {{#each name}}
        <a href="/counter/{{names}}">
            <li>{{names}}</li>
        </a>
        {{/each}}
    </div>

    <a href="/"> <button class="back">Back</button> </a>
</div>